{% extends 'base.html' %}
{% block body %}

<!-- Service Start -->
<div class="container text-center"> <!-- Center the content within a container -->
    <div class="row g-5 mx-auto justify-content-center">
        <div class="section-title mt-5">
            <h5 class="position-relative d-inline-block text-primary text-uppercase mt-5">Dashboard</h5>
        </div>

        <!-- Step 1 -->
        <div class="col-lg-3 col-md-3 service-item wow zoomIn" data-wow-delay="0.6s">
            <div class="rounded-top overflow-hidden">
                <img class="img-fluid" src="static/img/resume.png" alt="" style="max-height: 200px; max-width: 100%;">
            </div>
            <div class="position-relative bg-light rounded-bottom text-center p-4">
                <h6 class="m-0">Step 1</h6>
                <h5 class="m-0">Resume Upload</h5>
            </div>
        </div>

        <!-- Step 2 -->
        <div class="col-lg-3 col-md-3 service-item wow zoomIn" data-wow-delay="0.9s">
            <div class="rounded-top overflow-hidden">
                <img class="img-fluid" src="static/img/video.jpg" alt="" style="max-height: 200px; max-width: 100%;">
            </div>
            <div class="position-relative bg-light rounded-bottom text-center p-4">
                <h6 class="m-0">Step 2</h6>
                <h5 class="m-0">Self Introduction</h5>
            </div>
        </div>

        <!-- Step 3 -->
        <div class="col-lg-3 col-md-3 service-item wow zoomIn" data-wow-delay="1.5s">
            <div class="rounded-top overflow-hidden">
                <img class="img-fluid" src="static/img/technical1.png" alt="" style="max-height: 200px; max-width: 100%;">
            </div>
            <div class="position-relative bg-light rounded-bottom text-center p-4">
                <h6 class="m-0">Step 3</h6>
                <h5 class="m-0">Technical Interview</h5>
            </div>
        </div>

        <!-- Step 4 -->
        <div class="col-lg-3 col-md-3 service-item wow zoomIn" data-wow-delay="1.2s">
            <div class="rounded-top overflow-hidden">
                <img class="img-fluid" src="static/img/Untitled design.png" alt=""
                    style="max-height: 200px; max-width: 100%;">
            </div>
            <div class="position-relative bg-light rounded-bottom text-center p-4">
                <h6 class="m-0">Step 4</h6>
                <h5 class="m-0">MCQ Test</h5>
            </div>
        </div>
    </div>
</div>

<div class="container text-center"> <!-- Center the content within a container -->
    <div class="row col-lg-4 mb-5 justify-content-center mx-auto">
        <a href="resume" class="btn btn-primary my-5">Upload Your Resume</a>
    </div>
</div>
<!-- Service End -->

{% endblock body %}
