{% extends 'base.html' %}
{% block body %}

<div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Nonprofit Owner or Employee</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">Journalist or Activist</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">Other</label>
        </div>
    </div>
    <div id="prev">
        <button class="btn btn-primary">Submit</button>
    </div>
</div>

<div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Nonprofit Owner or Employee</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">Journalist or Activist</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">Other</label>
        </div>
    </div>
    <div id="prev">
        <button class="btn btn-primary">Submit</button>
    </div>
</div>

<div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Nonprofit Owner or Employee</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">Journalist or Activist</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">Other</label>
        </div>
    </div>
    <div id="prev">
        <button class="btn btn-primary">Submit</button>
    </div>
</div>


<div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Nonprofit Owner or Employee</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">Journalist or Activist</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">Other</label>
        </div>
    </div>
    <div id="prev">
        <button class="btn btn-primary">Submit</button>
    </div>
</div>

<div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q. which option best describes your job role?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">Nonprofit Owner or Employee</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">Journalist or Activist</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">Other</label>
        </div>
    </div>
    <div id="prev">
        <button class="btn btn-primary">Submit</button>
    </div>
</div>

{% endblock body %}